.about {
  margin-bottom: 120px;
  padding-top: 120px;
}

.about__wrap {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about__description {
  flex: 1;
  min-width: 412px;
  margin-right: 88px;
  padding-top: 58px;
}

.about__header {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $dark-text;
}

.about__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $dark-text;
}

.about__img {
  width: 560px;
}


@media (max-width: 1023px) {
  .about {
    margin-bottom: 95px;
    padding-top: 100px;
  }

  .about__header {
    max-width: 205px;
    margin-bottom: 16px;
    padding-right: 100px;
    font-size: 26px;
    line-height: 36px;
  }

  .about__text {
    font-size: 16px;
    line-height: 24px;
  }

  .about__wrap {
    box-sizing: border-box;
    min-width: 768px;
    margin: 0 auto;
    padding: 0 45px;
  }

  .about__description {
    min-width: 324px;
    margin-right: 30px;
    margin-top: -10px;
    padding-top: 0;
  }

  .about__img {
    width: 324px;
  }
}

@media (max-width: 767px) {
  .about {
    margin-bottom: 64px;
    padding-top: 57px;
  }

  .about__header {
    padding-right: 81px;
    font-size: 24px;
    line-height: 34px;
  }

  .about__wrap {
    flex-direction: column;
    box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .about__description {
    min-width: 290px;
    margin-bottom: 33px;
    margin-top: 0;
  }

  .about__img {
    width: 100%;
      margin: 0 auto;
  }
  .about__img img{
    width: 100%;}
}

@media (min-width: 321px) {
  .about__header {
    max-width: 100%;
  }
}
