.footer {
  background-color: $dark-text;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__wrap {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
}

.footer__nav {
  padding-top: 6px;
  flex-grow: 1;
}

.footer__socials {
  align-self: center;
  display: flex;
  justify-content: space-between;
  min-width: 117px;
}

.footer__logo {
  margin-right: 39px;
}

.socials__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__list,
.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__link {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: $darker-color;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  margin: 0;
  padding: 0;
  margin-right: 35px;
}


.social__icon {
  fill: $main-color;
}

.socials__link:hover .social__icon {
  fill: $darker-color;
}

@media (max-width: 1023px) {
  .footer__wrap {
    min-width: 768px;
    padding: 0 45px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .footer__nav {
    padding-top: 0;
  }

  .footer__socials {
    min-width: 87px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__logo {
    margin-right: 24px;
  }

  .footer__logo img {
    display: block;
    width: 38px;
    height: auto;
  }

  .footer__item {
    margin-right: 25px;
  }

  .social__icon--fb {
    width: 9px;
    height: 16px;
  }

  .social__icon--instagram {
    width: 16px;
    height: 16px;
  }

  .social__icon--twitter {
    width: 16px;
    height: 13px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 35px;
  }

  .footer__wrap {
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: column;
  }

  .footer__nav {
    margin-bottom: 10px;
  }

  .footer__list {
    flex-direction: column;
  }

  .footer__socials {
    align-self: flex-start;
  }

  .socials__list {
    flex-direction: row;
  }

  .footer__item {
    margin-right: 0;
    margin-bottom: 9px;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__logo img {
    width: 42px;
  }
}
