.products {
  padding-top: 110px;
}

.products__wrap {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  background-color: #011c40;
  width: calc(100% / 4 - 30px);
  // height: 386px;
  box-sizing: border-box;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  }
}

.products__item:hover .products__hover {
  display: block;
}

.products__item:hover .products__inner {
  display: none;
}

.products__hover {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 386px;
  padding: 35px 25px;
  padding-top: 29px;
  display: none;
  z-index: 10;
}

.products__img {
  // position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.products__header {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $dark-text;
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  text-align: center;
}

.products__inner {
  position: relative;
}

.products__inner h3 {
  position: absolute;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $main-color;
  margin: 0;
  padding: 0;
  bottom: 9px;
  left: 30px;
}

.products__item h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $main-color;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.products__item h4 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $main-color;
  margin: 0;
  padding: 0;
}

.products__item p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $main-color;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.products__button {
  display: block;
  width: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $dark-text;
  text-decoration: none;
  text-align: center;
  background-color: #f9fbfd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
  align-self: flex-end;
}


@media (max-width: 1023px) {
  .products {
    padding-top: 90px;
  }

  .products__wrap {
    max-width: 768px;
    padding: 0 45px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .products__item {
    width: calc(100% / 2 - 30px);
  }

  .products__hover {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }

  .products__img {
    height: 386px;
  }

  .products__header {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 50px;
  }

  .products__inner h3 {
    bottom: 14px;
    left: 35px;
  }
}

@media (max-width: 767px) {
  .products {
    padding-top: 57px;
  }

  .products__header {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .products__wrap {
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .products__item {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .products__hover {
    padding-left: 25px;
    padding-right: 25px;
  }

  .products__inner h3 {
    bottom: 5px;
    left: 26px;
  }
}
