.products {
  padding-top: 110px;
}

.products__wrap {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.products__list {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  background-color: #011c40;
  width: 260px;
  height: 386px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
  }
}

.products__item:hover .products__hover {
  display: block;
}

.products__item:hover .products__inner {
  display: none;
}

.products__hover {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  height: 386px;
  padding: 35px 25px;
  padding-top: 29px;
  display: none;
  z-index: 10;
}

.products__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.products__header {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $dark-text;
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  text-align: center;
}

.products__inner {
  position: relative;
}

.products__inner h3 {
  position: absolute;
  bottom: 10px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $main-color;
  margin: 0;
  padding: 0;
  bottom: 9px;
  left: 30px;
}

.products__item h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $main-color;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.products__item h4 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $main-color;
  margin: 0;
  padding: 0;
}

.products__item p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $main-color;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.products__button {
  position: absolute;
  display: block;
  width: 210px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $dark-text;
  text-decoration: none;
  text-align: center;
  background-color: #f9fbfd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
  bottom: 35px;
  left: 25px;
}
